body {
    background: gray;
}

div {
    margin-bottom: 13px;
}

input {
    border: none;
    border-radius:.5em;
}

button {
    background-color: blueviolet;
    color: white;
}

.monitor {
    width: 55%;
    border: solid 1em #333;
    border-radius:.5em;
    background-color: lightblue;
    margin-left: 25%;
    padding: 1.75%;
}

.title {
    margin-top: 9px;
    text-align: center;
}

.subtitle {
    text-align: center;
}

.linegap {
    height: 13px;
}

.btngroup {
    display: flex;
    justify-content: space-between;
}

.bottomline {
    text-align: center;
}

