<!-- {%load static%}
<!DOCTYPE html>
<html>

    <head>

        <link rel="stylesheet" href="{%static 'css/commonstyle.min.css'%}">
        <script src="{%static 'js/jquery.min.js'%}"></script>

        <title>
            ATM machine demo
        </title>

    </head>

    <body>



    </body>

</html> -->




<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="{%static 'css/machinedesign.css'%}">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="{%static 'js/machincode.js'%}"></script>

</head>

<body>

    <link href='https://fonts.googleapis.com/css?family=Orbitron&text=0123456789:AMP' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">

    <div id="atmmac">
        <div id="ac">
            <div id="inner"></div>
            <div id="temp">
                <p id="t1">19°</p>
            </div>
            <div class="one" style="border-width:5px">
                <p id="one1"></p>
            </div>
            <div id="acname">
                <p>Daffodil AC</p>
            </div>
        </div>
        <div id="outer">
            <div id="camera">
                <div id="lens"></div>
                <div id="light"></div>
            </div>
            <div id="com">

                <button id="b1"></button>
                <button id="b2"></button>
                <button id="b3"></button>
                <button id="b4"></button>
                <button id="b5"></button>
                <button id="b6"></button>

                <p id="com1"><b>IBBL ATM</b></p>
            </div>
            <div class="screen">

                <div id="loading">
                    <p id="inf">Please wait 5 seconds</p>
                    <div id="round1"></div>
                    <div id="round2"></div>
                    <div id="round3"></div>
                    <div id="round4"></div>
                    <p id="l4" style="color:white;font-weight:bold">Card processing</p>
                </div>

                <div id="begin">

                    <p class="well1">Welcome to IBBL bank atm </p>
                    <p class="well2">Enter your DEMO Account no</p>
                    <input type="text" class="pass2" maxlength="8">
                    <button id="btne2">Submit</button>
                </div>
                <div id="all">

                    <div class="welcome">
                        <p class="well8">Welcome Afnan !!</p>
                        <p class="well2">Please enter your password</p>
                        <input type="password" class="pass" maxlength="4">
                        <button id="btne1">Submit</button>

                    </div>



                    <div id="beginwrg">
                        <p id="pinwrg6">!! Invalid Account number !!</p>
                        <p id="pinwrg2">!! Please try again !!</p>
                        <center> <button id="bac4">Back</button></center>
                    </div>
                    <div id="pinwrg">
                        <p id="pinwrg1">!! Invalid pin !!</p>
                        <p id="pinwrg2">!! Please try again !!</p>
                        <center> <button id="bac3">Back</button></center>
                    </div>
                    <div id="pincrt">
                        <div id="success">
                            <button id="wdr">WITHDRAW</button>
                            <button id="dep">DEPOSIT</button>
                            <button id="mst">BAL ENQUIRY</button>
                            <button id="cpin">CHANGE PIN</button>
                            <button id="det">DETAILS</button>
                            <button id="otr">OTHERS</button>
                            <center> <button id="backs">Cancel</button></center>
                            <p id="user23">🙏🏻WELCOME🙏🏻<br>Afnan</p>
                        </div>

                        <div id="deti">
                            <table id="de">
                                <tr>
                                    <td>Account Name:</td>
                                    <td>Afnan</td>
                                </tr>
                                <tr>
                                    <td style="text-align:right">Account No:</td>
                                    <td>12345678</td>
                                </tr>
                                <tr>
                                    <td style="text-align:right">Total Amount:</td>
                                    <td>50,000</td>
                                </tr>
                                <tr>
                                    <td style="text-align:right">Account type:</td>
                                    <td>Savings</td>
                                </tr>
                            </table>
                            <center> <button id="back">Back</button></center>


                        </div>
                        <div id="error">
                            <p id="err1">ERROR-404<br></p>
                            <p id="erp2">This feature under construction and it will be available soon..</p>
                            <center> <button id="back2">Back</button></center>
                        </div>

                        <div id="chgpin">
                            <p id="err8">Permission required!!</p>
                            <p id="err4">Mani permission required to change this..</p>
                            <center> <button id="back3">Back</button></center>
                        </div>
                        <div id="balen">
                            <p id="err5">Total balance:50,000<br>Last withdarw:2,00,000,00
                                <br>credit intrest:400
                            </p>
                            <center> <button id="back4">Back</button></center>
                        </div>

                        <div id="witdrw">
                            <b>Enter the amount: </b><input type="number" id="witdrwno">
                            <button id="btns2">Submit</button>
                            <button id="back5">Back</button>
                        </div>

                        <div id="bill">
                            <p id="succ">!!SUCCESS!!</p>
                            <p id="succ2">please collect your cash within 5s else it will be taken back by the atm</p>
                        </div>



                        <div id="result">
                            <p id="wdt6">Total amount:</p>
                            <p id="wdt7"></p>
                            <p id="wdt2">widthdrawl amount:</p>
                            <p id="wdt3"></p>
                            <p id="wdt4">Remaining balance:</p>
                            <p id="wdt5"></p>
                            <center> <button id="back6">Back</button></center>
                        </div>

                        <div id="wrong">
                            <p id="err5">Error:Your account contains low balance than you entered</p><br>
                            <p id="err6">**Please Enter the valid amount** </p>
                            <center> <button id="back7">Back</button></center>
                        </div>

                        <div id="depst">
                            <b> Enter the amount: </b><input type="number" id="depstno">
                            <input type="button" id="bt3" value="Submit">
                            <button id="back8">Back</button>
                        </div>

                        <div id="result2">

                            <p id="dep8">Total amount:</p>
                            <p id="dep9"></p>
                            <p id="dep10">Deposited amount:</p>
                            <p id="dep11"></p>
                            <p id="dep12">previous balance:</p>
                            <p id="dep13"></p>
                            <center> <button id="back9">Back</button></center>
                        </div>

                        <div id="final">
                            <p id="final1">Thank you</p>. <p id="final3">For visiting our atm</p>
                            <p id="final2">Have a nice day</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="card">
            <div id="indictr">
                <div id="card2">
                </div>
                <div id="credit"></div>
            </div>
        </div>

    </div>

    <div id="botto">

        <div id="indicator2"> </div>
        <div id="cash">
            <div id="cash1"></div>
        </div>

        <button id="help1" onclick="arr();">!</button>
    </div>

    </div>
</body>

</html>